@import url("https://fonts.googleapis.com/css2?family=Rubik&display=swap");
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  color: #ebebeb;
  font-family: 'Rubik', sans-serif;
}

body {
  background-color: #000114;
}

.content {
  max-width: 1000px;
  margin: auto;
  background-color: #000126;
  overflow: hidden;
}

.image-container {
  position: relative;
}

.steve-image {
  width: 100%;
  -webkit-box-shadow: 0 5px 1em #3232e4;
          box-shadow: 0 5px 1em #3232e4;
}

.title {
  position: absolute;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  bottom: 0;
  margin: auto;
  text-align: center;
  z-index: 10;
  font-size: 3em;
  color: #d9d9f1;
  -webkit-animation: slide-up .6s ease-in-out;
          animation: slide-up .6s ease-in-out;
}

.title::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 5%;
  height: 30%;
  z-index: -1;
  background-color: #3232e4;
  -webkit-animation: slide-right-stripe 1.7s ease-out;
          animation: slide-right-stripe 1.7s ease-out;
}

.title .life-time {
  font-size: .3em;
}

@-webkit-keyframes slide-right-stripe {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right-stripe {
  from {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
    opacity: 1;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

.title-quote {
  margin-top: .1em;
  margin-bottom: 3em;
  text-align: center;
  padding: .3em;
  background-color: #3232e4;
  -webkit-box-shadow: 0 0 2em #3232e4;
          box-shadow: 0 0 2em #3232e4;
  font-size: 1.1em;
  font-style: italic;
  -webkit-animation: slide-up 2s ease-in-out;
          animation: slide-up 2s ease-in-out;
}

hr {
  margin: 4em 20px;
  border-radius: 50px;
  border-width: 2px;
  color: white;
  border: 1px solid #1a278a;
}

.section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  max-width: 550px;
  margin: 10px;
  padding: .7em;
  background-color: rgba(27, 27, 86, 0.555);
  border-radius: 10px;
}

.section .section-title {
  position: relative;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin: auto;
  z-index: 1;
  font-size: 2em;
}

.section .section-title::before {
  content: '';
  position: absolute;
  width: 100%;
  bottom: 5%;
  height: 30%;
  z-index: -1;
  background-color: #3232e4;
}

.section .description {
  margin: 1.5em 1em .5em 1em;
  font-size: 1.15em;
  text-align: justify;
  -webkit-hyphens: auto;
      -ms-hyphens: auto;
          hyphens: auto;
}

.section .description span {
  color: #7171ff;
}

.section .description .beginning-span {
  font-size: 1.2em;
}

.section .user-svg {
  width: 2.2em;
  margin: .8em auto;
}

.section .death-svg {
  width: 3.2em;
  margin: .8em auto;
}

.steve-quote-div {
  position: relative;
  height: 200px;
  margin-top: 6em;
  overflow: hidden;
}

.steve-quote-div .quote {
  position: absolute;
  right: 5%;
  top: 10%;
  width: 50%;
  font-size: 1.2em;
}

.steve-quote-div .quote span {
  position: absolute;
  bottom: -50%;
  left: 20%;
  font-style: italic;
  color: #b5b5ef;
}

.steve-quote-div .steve-jobs-quote-img {
  position: absolute;
  bottom: 0;
  width: 200px;
}

.sources {
  padding: 1em;
  background-color: #0f0f2b;
  -webkit-box-shadow: 0 0 5em #668cf5;
          box-shadow: 0 0 5em #668cf5;
}

.sources .sources-title {
  font-size: 1.2em;
}

@-webkit-keyframes slide-up {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@keyframes slide-up {
  from {
    -webkit-transform: translateY(20%);
            transform: translateY(20%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateY(0%);
            transform: translateY(0%);
    opacity: 1;
  }
}

@-webkit-keyframes slide-right {
  from {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@keyframes slide-right {
  from {
    -webkit-transform: translateX(-30%);
            transform: translateX(-30%);
    opacity: 0;
  }
  to {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
    opacity: 1;
  }
}

@media screen and (min-width: 400px) {
  .title .life-time {
    font-size: .4em;
  }
}
/*# sourceMappingURL=styles.css.map */